.about{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    background-color: rgba(198, 194, 187, 0.901);
}

.left{
    flex: 1;
    
    margin-top: 2.5%;
}
.right{
    flex: 1.50;
    margin-top: 5%;
    
}
.para,.line{
    margin-top: 5%;
}
a{
    color: aquamarine;
    text-decoration: none;
    cursor: auto;
}
a:hover{
    color: rgb(12, 15, 19);
    
}
.link{
    margin-top: 2.5%;
    font-size: large;
    border: 1px solid rgb(206, 225, 237);
    width: 15%;
    padding: 0.75rem 1.2rem;
    border-radius: 15px;
    background-color: rgb(108, 139, 139);
}